@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 9% 97%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 98.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 86%;
    --input: 0 0% 86%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 92.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 98.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 217 91% 60%;

    --radius: 0.5rem;

    --success: 150 70% 47%;
  }

  .dark {
    --background: 213 16% 10%;
    --foreground: 0 0% 98%;

    --muted: 213 16% 23%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 213 16% 13%;
    --popover-foreground: 0 0% 98%;

    --card: 213 16% 16%;
    --card-foreground: 0 0% 98%;

    --border: 213 12% 23%;
    --input: 213 12% 23%;

    --primary: 213 100% 52%;
    --primary-foreground: 210 40% 98%;

    --secondary: 213 12% 23%;
    --secondary-foreground: 0 0% 98%;

    --accent: 213 16% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 213 12% 23%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  code {
    @apply p-1 text-sm font-mono;
  }

  /* study flashcard */
  .study-container {
    @apply flex w-full h-full transition-all duration-500 ease-in-out;
  }
  .study-item {
    @apply w-full flex-shrink-0 grid my-8 place-items-center;
  }
  .study-item-inner {
    @apply flex flex-col justify-between items-center p-4 border rounded-md max-w-7xl w-full shadow-lg h-full;
  }

  .study-item-nav-item {
    @apply cursor-pointer inline-block w-2 h-2 rounded-full mx-1 transition-colors duration-300;
  }

  .text-constraint {
    @apply overflow-x-hidden whitespace-nowrap text-ellipsis sm:max-w-[10ch] md:max-w-[20ch] lg:max-w-[30ch] xl:max-w-[40ch] 2xl:max-w-[50ch];
  }

  /* form */
  .form {
    @apply flex flex-col gap-4 mt-5;
  }
  .form-group {
    @apply flex flex-col gap-2;
  }
  .form-group:has(*:required) label::after {
    @apply content-['*'] text-red-500 ml-2;
  }

  /* .form:has(*:invalid:not(:focus)) button[type='submit'] {
    @apply cursor-not-allowed opacity-50;
  } */

  .form-footer {
    @apply flex justify-end gap-2 mt-8;
  }

  label {
    @apply capitalize;
  }

  input::placeholder {
    @apply capitalize;
  }
  /* hide nav when study-session is loaded */
  body:has(#study-session) header nav {
    @apply hidden;
  }

  /* table */
  table {
    @apply w-full border-collapse;
  }
  table tr {
    @apply border-b;
  }
  table tr:last-child {
    @apply border-b-0;
  }
  table th,
  table td {
    @apply py-2 px-4;
  }

  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }

  /*
    ========================================
    Fancy Checkbox
    ========================================
  */

  .checkbox-fancy {
    --color: rgb(14 165 233);
    --text-color: #fff;
    --background-color: #000;
    --width: 18px;
    --height: 18px;
    appearance: none;
    position: relative;
    outline: none;
    border: 0;
    display: grid;
    place-items: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    margin: 0;
    border-radius: 4px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  }

  .checkbox-fancy {
    @apply border border-gray-300 border-solid checked:border-transparent;
  }

  .checkbox-fancy:checked {
    animation: pulse-border 0.7s cubic-bezier(1, 0, 0, 1) forwards;
    transition: background 0.3s cubic-bezier(1, 0, 0, 1) 0.1s;
    background: var(--color);
  }

  .checkbox-fancy::before,
  .checkbox-fancy::after {
    content: '';
    position: absolute;
  }
  .checkbox-fancy::before {
    transition: opacity 0.3s cubic-bezier(1, 0, 0, 1) 0.1s;
    opacity: 0;
  }
  .checkbox-fancy:checked::before {
    opacity: 1;
    width: 6px;
    height: 11px;
    border: solid var(--text-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox-fancy:checked::after {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    animation: splash 0.5s ease forwards 0.1s;
  }

  label:has(.checkbox-fancy:checked) {
    text-decoration: line-through;
  }

  label {
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  /*
    ========================================
    markdown
    ========================================
  */

  /*
    ========================================
    contentEditor
    ========================================
  */

  .contentEditor {
    @apply flex flex-col gap-4;
  }

  .markdown {
    @apply dark:text-gray-300 text-gray-700;
  }
  .markdown > * a {
    @apply text-blue-500 underline;
  }
  /*
    ========================================
    animations
    ========================================
  */

  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .scale-down-center {
    -webkit-animation: scale-down-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .scale-down-left {
    -webkit-animation: scale-down-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-down-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes scale-down-left {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
    }
  }

  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }

  .slide-in-blurred-right {
    -webkit-animation: slide-in-blurred-right 0.6s
      cubic-bezier(0.23, 1, 0.32, 1) both;
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
      transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }

  .slide-in-blurred-bottom {
    -webkit-animation: slide-in-blurred-bottom 0.6s
      cubic-bezier(0.23, 1, 0.32, 1) both;
    animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  }

  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(100px) scaleY(2.5) scaleX(0.2);
      transform: translateY(100px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
      transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }

  @keyframes firework {
    0% {
      transform: translate(var(--x), var(--initialY));
      width: var(--initialSize);
      opacity: 1;
    }
    50% {
      width: 0.5vmin;
      opacity: 1;
    }
    100% {
      width: var(--finalSize);
      opacity: 0;
    }
  }

  /* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */
  .firework,
  .firework::before,
  .firework::after {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: '';
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */ radial-gradient(
          circle,
          var(--color1) var(--particleSize),
          #0000 0
        )
        50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100%
        50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50%
        100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      /* bottom right */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80%
        90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95%
        90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90%
        70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100%
        60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55%
        80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70%
        77%,
      /* bottom left */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22%
        90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45%
        90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33%
        70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10%
        60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31%
        80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28%
        77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13%
        72%,
      /* top left */
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80%
        10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95%
        14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90%
        23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100%
        43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85%
        27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77%
        37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      /* top right */
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22%
        14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45%
        20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33%
        34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10%
        29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31%
        37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13%
        42%;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }

  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
    /*   animation: fireworkPseudo 2s infinite; */
  }

  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
    /*   animation: fireworkPseudo 2s infinite; */
  }

  .firework:nth-child(2) {
    --x: 30vmin;
  }

  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }

  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }

  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }
  @keyframes splash {
    0% {
      opacity: 1;
      box-shadow: 0 -5px 0 -1px var(--color), 0 -5px 0 -1px var(--color),
        0 -5px 0 -1px var(--color), 0 -5px 0 -1px var(--color),
        0 -5px 0 -1px var(--color), 0 -5px 0 -1px var(--color);
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      box-shadow: 0 -25px 0 0px var(--color), 14px -18px 0 0px var(--color),
        14px 18px 0 0px var(--color), 0 25px 0 0px var(--color),
        -14px 18px 0 0px var(--color), -14px -18px 0 0px var(--color);
    }
  }

  @keyframes pulse-border {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 132, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .animate-pulse-border {
    animation: pulse-border 0.7s cubic-bezier(1, 0, 0, 1) forwards;
  }

  /* animate-shine */

  .animate-shine {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.05) 49%,
      rgba(255, 255, 255, 0.05) 52%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 1000px 100%;
    background-repeat: no-repeat;
    background-position: -1000px;
    animation: shine 6s ease-in-out infinite forwards;
    animation-fill-mode: forwards;
  }

  .animate-delay-1 {
    animation-delay: 1s;
  }

  .translate-z-200 {
    transform: translateZ(200px);
    filter: drop-shadow(0 0 10px rgba(10, 10, 20, 0.2));
  }

  .animate-delay-2 {
    animation-delay: 2s;
  }

  @keyframes shine {
    50% {
      background-position: -1000px;
    }
    100% {
      background-position: 1000px;
    }
  }

  /* scroll bar */
  *::-webkit-scrollbar {
    @apply w-1 h-1 bg-transparent opacity-10 hover:opacity-100;
  }

  *::-webkit-scrollbar-track {
    @apply bg-background/10 rounded-full border-none outline-none transition-colors duration-300 opacity-10 hover:opacity-100;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-foreground/10 rounded-full transition-colors duration-300;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-foreground/30;
  }

  *::-webkit-scrollbar-thumb:active {
    @apply bg-foreground/50;
  }

  *::-webkit-scrollbar-corner {
    @apply bg-background/0 rounded-full border-none outline-none transition-colors duration-300 opacity-0 hover:opacity-100;
  }

  .reset-scrollbar::-webkit-scrollbar {
    @apply w-1 h-1 bg-foreground/20 opacity-100;
  }

  .reset-scrollbar::-webkit-scrollbar-track {
    @apply bg-foreground/20 rounded-full border outline transition-colors duration-300 opacity-100;
  }

  .reset-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-foreground/40 rounded-full transition-colors duration-300;
  }

  .reset-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-foreground transition-colors duration-300;
  }

  .reset-scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-foreground transition-colors duration-300;
  }

  .reset-scrollbar::-webkit-scrollbar-corner {
    @apply bg-foreground rounded-full transition-colors duration-300 opacity-100;
  }

  /*
      ========================================
      ANT DATE PICKER
      ========================================

    */

  .ant-picker-panel {
    @apply bg-background/0 rounded-lg shadow-lg;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.ant-picker-panel {
  background: var(--background) !important;
}
